{:paths   ["src"]
 :deps    {noencore {:mvn/version "0.1.20" :exclusions [org.clojure/clojure]}}
 :aliases {:dev  {:extra-paths ["dev"]
                  :extra-deps  {org.clojure/clojure {:mvn/version "1.9.0"}
                                org.clojure/clojurescript {:mvn/version "1.10.339"}
                                cider/piggieback {:mvn/version "0.3.9" :exclusions [org.clojure/clojurescript]}}}}}
